.project-list {
    padding: 24px;
    max-width: 1200px;
    margin: 0 auto;
}

@media (min-width: 991px) {
    .project-list {
        columns: 2;
        column-gap: 0;
        padding: 25px 0;
    }
}

.project-list__item {
    break-inside: avoid;
}

@media (min-width: 991px) {
    .project-list__item {
        padding: 25px;
    }
}