.project-list {
  padding: 24px;
  max-width: 1200px;
  margin: 0 auto;
}

@media (min-width: 991px) {
  .project-list {
    columns: 2;
    column-gap: 0;
    padding: 25px 0;
  }
}

@media (min-width: 1600px) {
  .project-list {
    columns: 3;
    max-width: 1600px;
    padding: 25px;
  }
}

.project-list__item {
  display: inline-block;
  width: 100%;
  padding: 12px 0;
}

@media (min-width: 991px) {
  .project-list__item {
    padding: 16px;
  }
}
