.info {
  margin-top: 12px;
}

.info__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.info__item {
  display: inline-flex;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  font-family: inherit;
  color: #ffd400;
  cursor: pointer;
  transition: all 0.15s ease;
  background-color: #302808;
  font-size: 12px;
  line-height: 1;
  padding: 8px 10px 7px;
  border-radius: 100px;
  margin-right: 4px;
  margin-bottom: 12px;
}

.info__item:hover {
  color: white;
}

.info__link {
  text-decoration: none;
}
