.graph {
  display: grid;
  grid-template-areas:
    "months"
    "squares";
  grid-template-columns: auto 1fr;
  grid-gap: 4px;
  font-size: 14px;
  padding: 8px 0;
}

.months {
  grid-area: months;
}

.month {
  width: 15px;
}

.squares {
  grid-area: squares;
  grid-auto-flow: column;
  grid-auto-columns: 15px;
}

.squares {
  display: grid;
  grid-gap: 2px;
  grid-template-rows: repeat(7, 15px);
}

.square,
.graph ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.months {
  display: flex;
  justify-content: space-between;
}

.square {
  background-color: trasparent;
  position: relative;
  border-radius: 3px;
}

.square:hover {
  box-shadow: 0 0 0 2px #196127;
}

.square[data-level="1"] {
  background-color: #c6e48b;
}

.square[data-level="2"] {
  background-color: #7bc96f;
  transform: scale(1.25);
  z-index: 2;
}

.square[data-level="3"] {
  background-color: #196127;
  transform: scale(1.35);
  z-index: 3;
}

.square:hover {
  z-index: 4;
}

.square:hover:after {
  position: absolute;
  content: attr(data-description-full);
  transform: translateY(-50%);
  top: 50%;
  left: calc(100% + 8px);
  background-color: #000;
  padding: 4px 12px 3px;
  font-size: 13px;
  color: white;
  border-radius: 20px;
  z-index: 12;
  white-space: nowrap;
}

@media (max-width: 700px) {
  .square:hover:after {
    content: attr(data-description-short);
  }
}
