.projects {
  padding: 3vw 4vw;
  margin: 0 auto;
  max-width: 1650px;
}

.projects__title {
  font-size: clamp(36px, 10vw, 180px);
  line-height: 0.9;
  font-weight: 600;
  margin-top: 3vw;
  margin-bottom: 2vw;
}

.projects__subtitle {
  font-size: clamp(24px, 2vw, 72px);
  line-height: 1.2;
  font-weight: 500;
  margin-top: clamp(36px, 3vw, 72px);
  margin-bottom: 24px;
}

.projects__info {
  color: rgb(var(--text-color-third));
}

.projects__grid {
  display: grid;
  width: 100%;
  max-width: 1650px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-areas:
    "activity activity contributors"
    "repos repos repos";
}

.projects__section_activity {
  grid-area: activity;
}

.projects__section_contributors {
  grid-area: contributors;
}

.projects__section_repos {
  grid-area: repos;
}

@media (max-width: 1100px) {
  .projects__grid {
    grid-template-areas:
      "activity activity activity"
      "contributors contributors contributors"
      "repos repos repos";
  }
}
