.project {
    padding: 40px;
    vertical-align: top;
    box-shadow: 0 3px 12px -2px rgb(17 12 46 / 10%);
    width: 100%;
    break-inside: avoid;
    background: white;
    border-radius: 8px;
}

.project__meta {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 24px;
}

@media (min-width: 991px) {
    .project__meta {
        flex-direction: row;
        align-items: center;
    }
}

.project__letter {
    width: 32px;
    height: 32px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: black;
    color: white;
    border-radius: 5px;
    flex-shrink: 0;
}

.project__icon {
    width: 32px;
    height: 32px;
}

.project__title {
    margin: 0;
    font-size: 24px;
    font-weight: 500;
    display: flex;
    gap: 8px;
    align-items: center;
}

.project__github-icon {
    width: 16px;
    height: 16px;
    opacity: .75;
}

.project__github-icon:hover {
    opacity: 1;
}

.project__slots-list {
    list-style: none;
    padding: 0;
    margin: 0 0 28px;
}

@media (min-width: 991px) {
    .project__slots-list {
        margin: 0 0 28px 46px;
    }
}

.project__slots-list-item {
    line-height: 1.2;
    margin-bottom: 18px;
}

.project__slots-list-item_production {
    font-weight: 600;
}

.project__slots-commit {
    color:rgb(160, 160, 160);
    font-style: italic;
    font-size: 13px;
    margin-top: 4px;
}

.project__slots-commit > a {
    color: inherit;
}

.project__slots-link {
    color: rgb(44, 44, 44);
    text-decoration: none;
    box-shadow: 0 1px rgba(0,0,0,.25);
    padding-bottom: 1px;
    font-size: 18px;
    margin: 0;
}

.project__slots-link:hover {
    box-shadow: 0 1px rgba(0,0,0,.7);
}

.project__other-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    list-style: none;
    margin: 0;
    padding: 0;
}

@media (min-width: 991px) {
    .project__other-list {
        margin: 0 0 8px 46px;
    }
}

.project__other-list-item {
    line-height: 1.2;
}

.project__other-link {
    color: rgb(103, 103, 103);
    text-decoration: none;
    box-shadow: 0 1px rgba(0,0,0,.25);
    padding-bottom: 1px;
}

.project__other-link:hover {
    box-shadow: 0 1px rgba(0,0,0,.5);
}