.project {
  padding: 40px 32px;
  vertical-align: top;
  box-shadow: 0 3px 12px -2px rgba(17, 12, 46, 0.15);
  width: 100%;
  break-inside: avoid;
  background: white;
  border-radius: 8px;
  transition: 0.1s ease box-shadow;
}

@media (min-width: 991px) {
  .project {
    padding-left: 64px;
    padding-right: 48px;
  }
}

.project:hover {
  box-shadow: 0 3px 12px -2px rgba(17, 12, 46, 0.225);
}

.project__meta {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  gap: 12px;
  margin-bottom: 32px;
}

.project__meta-description {
  display: flex;
  flex: 1 0 100%;
  margin: 0;
  font-size: 13px;
  transition: 0.1s ease opacity;
}

@media (min-width: 991px) {
  .project__meta-description {
    flex: 1 0 100%;
  }
}

.project__meta-link {
  color: rgb(101, 101, 101);
  font-weight: 500;
  text-decoration: none;
}

.project__meta-link:hover {
  color: black;
}

.project__meta-link:first-child::before {
  content: none;
}

@media (min-width: 991px) {
  .project__meta {
    flex-direction: row;
    align-items: center;
  }
}

.project__letter {
  width: 28px;
  height: 28px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: black;
  color: white;
  border-radius: 50%;
  flex-shrink: 0;
  font-weight: 500;
}

.project__icon {
  width: 28px;
  height: 28px;
}

@media (min-width: 991px) {
  .project__letter,
  .project__icon {
    position: absolute;
    top: -2px;
    left: -40px;
  }
}

.project__title {
  margin: 0;
  font-size: 22px;
  font-weight: 500;
  display: flex;
  gap: 16px;
  align-items: center;
  text-decoration: underline;
  text-decoration-color: #ddd;
}

.project__github-icon {
  opacity: 0.75;
}

.project__github-icon:hover {
  opacity: 1;
}

.project__slots-list {
  list-style: none;
  padding: 0;
  margin: 0 0 28px;
}

@media (min-width: 991px) {
  .project__slots-list {
    margin: 0 0 8px;
  }
}

.project__slots-list-item {
  line-height: 1.1;
  margin-bottom: 16px;
}

.project__slots-commit {
  color: rgb(150, 150, 150);
  font-size: 14px;
  line-height: 1.3;
  margin-top: 2px;
}

.project__slots-commit > a {
  color: inherit;
}

.project__slots-link {
  color: #123;
  text-decoration: none;
  font-weight: 500;
  font-size: 15px;
  margin: 0;
  transition: 0.1s ease color;
}

.project__slots-list-item_production {
  margin-bottom: 24px;
}

.project__slots-list-item_production .project__slots-link {
  font-size: 18px;
}

.project__slots-link:hover {
  color: black;
}

.project__other-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: 991px) {
  .project__other-list {
    margin: 24px 0 8px;
  }
}

.project__other-list-item {
  line-height: 1.2;
}

.project__other-link {
  color: rgb(50, 50, 50);
  text-decoration: none;
  box-shadow: 0 1px rgba(0, 0, 0, 0.25);
  transition: 0.1s ease box-shadow;
  padding-bottom: 2px;
  font-size: 15px;
}

.project__other-link:hover {
  color: black;
  box-shadow: 0 1px rgba(0, 0, 0, 0.5);
}
