.project {
  --project-card-border-radius: 8px;
  border-radius: var(--project-card-border-radius);
  background-color: rgb(var(--project-card-color));
  break-inside: avoid;
  position: relative;
  transition: all 0.3s;
  min-height: 100%;
}

.project_no_shadow {
  box-shadow: none;
}

.project_hover {
  cursor: pointer;
}

.project_hover:hover {
  transform: scale(1.05);
}

.project_dead {
  background-color: rgb(var(--bg-color-danger));
}

.project_disabled {
  opacity: 0.5;
  box-shadow: 0 3px 12px -2px rgba(17, 12, 46, 0.15);
}

.project__icon {
  width: 28px;
  height: 28px;
  margin-right: 6px;
  border-radius: 100px;
  position: absolute;
  left: 20px;
  top: 20px;
  background-color: black;
}

.project__cover {
  width: 100%;
  height: auto;
  max-height: 300px;
  object-fit: cover;
  aspect-ratio: 16 / 10;
  border-radius: var(--project-card-border-radius)
    var(--project-card-border-radius) 0 0;
}

.project__loader {
  padding: 16px 20px;
}
.project__content {
  padding: 12px 48px 40px 64px;
  position: relative;
}

.project__section {
  padding-top: 16px;
  color: rgb(var(--text-color-secondary));
}

.project__title {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 500;
  margin-top: 8px;
  margin-bottom: 8px;
}

.project__link {
  color: rgb(var(--text-color-secondary));
}

.project__label {
  color: #ffd400;
  background-color: #302808;
  display: inline-block;
  padding: 4px 12px;
  border-radius: 20px;
}

@media screen and (max-width: 768px) {
  .project__content {
    padding: 16px 20px;
  }

  .project__icon {
    position: relative;
    top: initial;
    left: initial;
  }
}

@media (prefers-color-scheme: dark) {
  .project__cover {
    mix-blend-mode: lighten;
  }
}
