.contributors {
  display: flex;
  flex-wrap: wrap;
  gap: 16px 8px;
}

.contributor {
  text-decoration: none;
}

.contributor:hover .contributor__avatar {
  transform: scale(1.1);
}

.contributor__avatar {
  border-radius: 100%;
  width: 45px;
  height: 45px;
  transition: all 0.1s ease-out;
}

.contributor__contributions {
  text-align: center;
  font-size: 14px;
  line-height: 1;
}
