.project-list {
  columns: 3;
  column-gap: 24px;
}

.project-list__item {
  margin-bottom: 24px;
  min-width: 300px;
  max-width: 600px;
}

.projects__activity {
  overflow: auto;
}

@media (max-width: 1100px) {
  .project-list {
    columns: 2;
  }
}

@media (max-width: 700px) {
  .project-list {
    columns: 1;
  }
}
