.react-modal-sheet-container,
.react-modal-sheet-header,
.react-modal-sheet-content {
  background-color: var(--project-card-color) !important;
}

.react-modal-sheet-backdrop {
  background-color: rgba(0, 0, 0, 0.2) !important;
}

.react-modal-sheet-backdrop {
  border: none;
}

.react-modal-sheet-header,
.react-modal-sheet-container,
.react-modal-sheet-content {
  border-radius: 10px 10px 0 0 !important;
}

@media screen and (min-width: 768px) {
  .react-modal-sheet-container {
    width: 40% !important;
    max-width: 500px !important;
    height: calc(100vh - 2vw) !important;
    right: 0.5vw !important;
    left: auto !important;
    top: 0.5vw !important;
  }

  .react-modal-sheet-header,
  .react-modal-sheet-container,
  .react-modal-sheet-content {
    border-radius: 12px !important;
  }

  .react-modal-sheet-header,
  .react-modal-sheet-drag-indicator {
    display: none !important;
  }
}
